Repository yeahia-sarker/graphbit: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, rust-build-check, python-build-check, cargo-deny

Path conditions:
  safety-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  rust-build-check: any of: ^(src/.*\.rs|core/src/.*\.rs|python/src/.*\.rs|Cargo\.toml|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  python-build-check: any of: ^(pyproject\.toml|poetry\.lock)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$

  cargo-deny: any of: ^(Cargo\.toml|Cargo\.lock|.*/Cargo\.toml)$, but not: (?x)^(
  target/|
  Cargo\.lock|
  poetry\.lock|
  \.git/|
  \.pytest_cache/|
  __pycache__/|
  \.mypy_cache/|
  \.venv/|
  venv/|
  \.env|
  \.coverage|
  htmlcov/|
  logs/|
  \.log$
)$


feat: llm config per node (#178)
  core/src/workflow.rs
  python/src/workflow/node.rs
Due: rust-build-check

[Documentation] Update root readme.md for installation & python binding (#182)
  README.md
Due: none

[Documentation] Updated the docs (#181)
  docs/api-reference/configuration.md
  docs/api-reference/node-types.md
  docs/api-reference/python-api.md
  docs/development/debugging.md
  docs/development/python-bindings.md
  docs/examples/comprehensive-pipeline.md
  docs/examples/llm-integration.md
  docs/examples/semantic-search.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/user-guide/agents.md
  docs/user-guide/concepts.md
  docs/user-guide/performance.md
  docs/user-guide/validation.md
Due: none

[Bugfix] Makefile refactored. (#183)
  Makefile
  README.md
  docs/getting-started/installation.md
  docs/user-guide/async-vs-sync.md
Due: none

Bugfix: llama index missing dependency (#185)
  pyproject.toml
Due: safety-check, python-build-check

docs: architecture (#184)
  docs/development/architecture.md
Due: none

refactor: remove pyproject.toml and update Cargo.toml for consistency (#187)
  Makefile
  python/Cargo.toml
  python/pyproject.toml
Due: rust-build-check, cargo-deny

Update CHANGELOG.md (#188)
  CHANGELOG.md
Due: none

docs: update README.md with new links and installation instructions (#189)
  README.md
Due: none

update root README.md (#190)
  README.md
Due: none

docs: update contributor list and fix image path in README (#191)
  .github/workflows/update-contributors.yml
  README.md
  docs/index.md
Due: none

docs(contributors): update contributor list
  README.md
Due: none

docs(contributors): enhance contributor workflow and update README for exact GitHub ranking (#192)
  .github/workflows/update-contributors.yml
  README.md
Due: none

docs(contributors): update contributor list [excludes merge commits, matches GitHub page]
  README.md
Due: none

docs: simplify header and enhance visual elements in index.md (#193)
  docs/index.md
Due: none

[Documentation] docs index file stylings and visuals refined (#194)
  docs/index.md
Due: none

docs: update and refine the GraphBit Software License for clarity and structure
  LICENSE
Due: none

update license terminology from "Software" to "framework" for consistency
  LICENSE
Due: none

update extra.css (#195)
  docs/stylesheets/extra.css
Due: none

GraphBit Framework License document (#196)
  LICENSE.md
Due: none

unnecessary file environment yml removed
  environment.yml
Due: none

update environment activation instructions from conda to poetry in benchmark runner and README
  benchmarks/run_benchmark.py
  tests/python_integration_tests/README.md
Due: none

remove unused configuration files for commitizen and hadolint (#197)
  .cz.toml
  .hadolint.yaml
Due: none

docs: updated discord link (#198)
  README.md
Due: none

docs: contributors display format change. (#200)
  README.md
Due: none

[Bugfix] maturin develop warnings (#199)
  core/src/embeddings.rs
  core/src/errors.rs
  core/src/graph.rs
  core/src/llm/anthropic.rs
  core/src/llm/mod.rs
  core/src/llm/providers.rs
  core/src/text_splitter.rs
  core/src/types.rs
  python/src/document_loader.rs
  python/src/embeddings/client.rs
  python/src/embeddings/config.rs
  python/src/errors.rs
  python/src/llm/config.rs
  python/src/runtime.rs
  python/src/tools/decorator.rs
  python/src/tools/executor.rs
  python/src/tools/registry.rs
  python/src/workflow/context.rs
  python/src/workflow/executor.rs
  python/src/workflow/node.rs
  python/src/workflow/result.rs
  python/src/workflow/workflow.rs
  tests/main.rs
  tests/rust_integration_tests/mod.rs
  tests/rust_unit_tests/workflow_tests.rs
Due: rust-build-check

refactor: removed lint check for docker (#202)
  .pre-commit-config.yaml
Due: none

[Documentation] Typo fix in root readme. (#203)
  README.md
Due: none

feat: add OpenRouter LLM provider integration
  README.md
  core/src/llm/mod.rs
  core/src/llm/openrouter.rs
  core/src/llm/providers.rs
  docs/getting-started/quickstart.md
  docs/user-guide/concepts.md
  docs/user-guide/llm-providers.md
  examples/tasks_examples/simple_task_openrouter.py
  python/src/llm/config.rs
  tests/python_integration_tests/tests_llm.py
  tests/rust_unit_tests/llm_provider_tests.rs
Due: rust-build-check

[Feature] Anthropic tool calling support (#207)
  README.md
  core/src/llm/anthropic.rs
  core/src/llm/providers.rs
  core/src/workflow.rs
Due: rust-build-check

docs: added github stats js file. (#215)
  docs/javascripts/github-stats.js
  docs/stylesheets/extra.css
Due: none

[Bugfix] dependency needed for python tests (#206)
  pyproject.toml
Due: safety-check, python-build-check

info: added build matrix
  .github/workflows/build-matrix.yml
Due: none

[Bugfix] All backtick issue in precommit (#209)
  .github/workflows/update-contributors.yml
  core/src/agents.rs
  core/src/document_loader.rs
  core/src/embeddings.rs
  core/src/errors.rs
  core/src/graph.rs
  core/src/lib.rs
  core/src/llm/anthropic.rs
  core/src/llm/deepseek.rs
  core/src/llm/huggingface.rs
  core/src/llm/mod.rs
  core/src/llm/ollama.rs
  core/src/llm/openai.rs
  core/src/llm/openrouter.rs
  core/src/llm/perplexity.rs
  core/src/llm/providers.rs
  core/src/text_splitter.rs
  core/src/types.rs
  core/src/validation.rs
  core/src/workflow.rs
  examples/tasks_examples/simple_task_openrouter.py
  python/src/document_loader.rs
  python/src/llm/client.rs
  src/lib.rs
  tests/python_integration_tests/tests_llm.py
  tests/rust_integration_tests/embeddings_tests.rs
  tests/rust_integration_tests/llm_tests.rs
  tests/rust_integration_tests/mod.rs
  tests/rust_unit_tests/embedding_tests.rs
  tests/rust_unit_tests/llm_provider_tests.rs
  tests/rust_unit_tests/test_helpers.rs
Due: rust-build-check

info: fixed aarch linux build issue
  .github/workflows/build-matrix.yml
  python/pyproject.toml
Due: none

[Bugfix] Format string (#210)
  core/src/agents.rs
  core/src/document_loader.rs
  core/src/embeddings.rs
  core/src/graph.rs
  core/src/lib.rs
  core/src/llm/anthropic.rs
  core/src/llm/deepseek.rs
  core/src/llm/huggingface.rs
  core/src/llm/mod.rs
  core/src/llm/ollama.rs
  core/src/llm/openai.rs
  core/src/llm/openrouter.rs
  core/src/llm/perplexity.rs
  core/src/llm/response.rs
  core/src/text_splitter.rs
  core/src/validation.rs
  core/src/workflow.rs
  core/src/workflow_tests.rs
Due: rust-build-check

fix: precommit literal separators (#211)
  core/src/llm/anthropic.rs
  core/src/llm/deepseek.rs
  core/src/llm/ollama.rs
  core/src/llm/openai.rs
  core/src/llm/openrouter.rs
  core/src/llm/perplexity.rs
Due: rust-build-check

fix: format appended to existing string (#213)
  core/src/llm/huggingface.rs
Due: rust-build-check
